@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-mont {
  font-family: 'Montserrat', sans-serif;
}

.font-source {
  font-family: 'Source Code Pro', monospace;
}

#root {
  /* background: url("../assets/images/background1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}